html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background:#00DE8D;
    font-family: "Helvetica Neue";
    color:#353535;
}

.flexContainer {
    width:100%;
    height:100%;

    display:flex;
    position:absolute;
    flex-direction:row;
    flex-wrap:wrap;

    align-content: flex-start;
}

.flexItem {
    
    position:relative;
    
    width:220px;
    height:300px;
    
    margin:15px;
    
    background:white;
    border-radius: 10px;
    padding:0px;
    display:flex;
    flex-direction: column;
    
}

.flexItem__title {
    position:relative;
    margin:15px;
    align-content: center;
    text-align: center;
    color:#353535;
    font-family: "Helvetica Neue";
    font-size:18pt;
    
}
.flexItem__view {
    
    height:100%;
    display:flex;
    flex-direction:column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.flexItem_view--bigText {
    font-size:36pt;
}

button {
    color:white;
    background:#999;
    outline:none;
    border:none;
    border-radius: 5px;
    height:40px;
    padding:5px;
    margin:5px;
}